<div ng-controller="HomeController">
    <div id="topWrap" class="jumbotron">
        <div class="container">
            <div class="col-md-6 col-md-push-6 jumboText">
                <h1>Big data platform</h1>
                <h2>Data, data everywhere</h2>
                <h2>Data = Understanding</h2>
            </div>
        </div>
    </div>

    <div id="featureWrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center feature">
                    <i class="fa fa-tablet icon"></i>
                    <h3>Responsive Bootstrap Template</h3>
                    <p>
                        Lorem ipsum dolizzle sit tellivizzle, boom shackalack adipiscing elit. Nullam mofo velizzle, get down get down stuff, sure cool, dizzle vizzle, arcu. Yo mamma izzle tortizzle.
                    </p>
                </div>
                <div class="col-sm-4 text-center feature">
                    <i class="fa fa-pencil icon"></i>
                    <h3>Easy to Customize</h3>
                    <p>
                        Lorem ipsum dolizzle sit tellivizzle, boom shackalack adipiscing elit. Nullam mofo velizzle, get down get down stuff, sure cool, dizzle vizzle, arcu. Yo mamma izzle tortizzle.
                    </p>
                </div>
                <div class="col-sm-4 text-center feature">
                    <i class="fa fa-star icon"></i>
                    <h3>Ideal for Apps or Software</h3>
                    <p>
                        Lorem ipsum dolizzle sit tellivizzle, boom shackalack adipiscing elit. Nullam mofo velizzle, get down get down stuff, sure cool, dizzle vizzle, arcu. Yo mamma izzle tortizzle.
                    </p>
                </div>
            </div>
        </div>
    </div> <!-- /featureWrap -->

    <div id="testimonialsWrap" class="altWrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="sectionTitle">Why big data</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <div class="quote">"Etizzle laoreet doggy dope nisl. Dang pulvinizzle, ipsizzle dawg."</div>
                                <div class="author">Martin Nizzle</div>
                            </li>
                            <li>
                                <div class="quote">"Crazy tellus urna, yo mamma check out this, eleifend you son of a bizzle."</div>
                                <div class="author">Jennifer Aliquizzle</div>
                            </li>
                            <li>
                                <div class="quote">"Praesent i saw beyonces tizzles and my pizzle went crizzle turpizzle."</div>
                                <div class="author">William Lorizzle</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /testimonialsWrap -->
</div>