<div class="navbar navbar-default ">
    <ul class="nav navbar-nav left-navbar">
        <li>
            <a href="#/platform/status">Platform status</a>
        </li>
        </br>
        <li>
            <a href="#/platform/newRegion">Add new region</a>
        </li>
        </br>
        <li>
            <a href="#/platform/queryManager">Query manager</a>
        </li>
        </br>
        <li>
            <a href="#/turism">Platform jobs</a>
        </li>
    </ul>
</div>