<div>
	<div class="row">
		<div class="col-lg-2">
			<div class="navbar navbar-default " style="height: 500px;">
				<uib-accordion close-others="true"> <uib-accordion-group
					is-open="statusPredictions.open"> <uib-accordion-heading>
				Predictions <i class="pull-right glyphicon"
					ng-class="{'glyphicon-chevron-down': statusPredictions.open, 'glyphicon-chevron-right': !statusPredictions.open}"></i>
				</uib-accordion-heading>
				<ul class="nav navbar-nav left-navbar">
					<li><a href="" ng-click="selectPredictionUsescasePrecipitations()">Precipitations</a></li>
					<li><a href="" ng-click="selectPredictionUseCaseTempMax()">Max
							temperature</a></li>
					<li><a href="" ng-click="selectPredictionUsecaseTempMin()">Min
							temperature</a></li>
				</ul>
				</uib-accordion-group> <uib-accordion-group is-open="allYears.open">
				<uib-accordion-heading> Evolution <i
					class="pull-right glyphicon"
					ng-class="{'glyphicon-chevron-down': allYears.open, 'glyphicon-chevron-right': !allYears.open}"></i>
				</uib-accordion-heading>
				<ul class="nav navbar-nav left-navbar">
					<li><a href="" ng-click="evolutionAllYearsPrecipitations()">All
							years precipitations</a></li>
					<li><a href="" ng-click="evolutionAllYearsTempMax()">All
							years max temp</a></li>
					<li><a href="" ng-click="evolutionAllYearsTempMin()">All
							years min temp</a></li>
				</ul>
				</uib-accordion-group></uib-accordion>
			</div>
		</div>
		<div class="col-lg-9">
			<div class="col-lg-1" style="height: 300px; margin-top: 50px;">
				<rzslider rz-slider-model="avgSlider.value"
					rz-slider-high="avgSlider.maxValue"
					rz-slider-options="avgSlider.options"
					ng-show="chartModel.withSlider"></rzslider>
			</div>
			<div class="col-lg-7">
				<highchart id="chart1" config="chartConfig"></highchart>
			</div>
		</div>
	</div>
</div>