</br>
<div class="container">
	<div class="row">
		<div class="col-sm-5" style="margin-left: 15%;">
			<span style="font-weight: bold;">Max lat:</span> <span>{{row.entity.maxLat}}</span>
		</div>
		<div class="col-sm-5">
			<span style="font-weight: bold;">Max lon:</span> <span>{{row.entity.maxLon}}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-5" style="margin-left: 15%;">
			<span style="font-weight: bold;">Min lat:</span> <span>{{row.entity.minLat}}</span>
		</div>
		<div class="col-sm-5">
			<span style="font-weight: bold;">Min lon:</span> <span>{{row.entity.minLon}}</span>
		</div>
	</div>
</div>
</div>