<div>
    <div class="row">
        <div class="col-lg-2">
            <div class="navbar navbar-default ">
                <ul class="nav navbar-nav left-navbar">
                    <li>
                        <a href="#/turism">List of regions</a>
                     </li>
                    </br>
                    <li>
                        <a href="#/turism">About</a>
                    </li>
                </ul>
            </div>
            </div>
            <div class="col-lg-9">
                <div id="cityGrid" ui-grid="grid" class="grid" ui-grid-pagination ui-grid-selection></div>
            </div>
        </div>
</div>